data/
final_imagenet/
!src/data
.venv/
*.pyc
*.swp
.ipynb_checkpoints/
.virtual_documents/
tfg.egg-info/

docs/ARTICULO-ORIGINAL/

augmentation.ipynb

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.toc
*.nav
*.snm

*.alg
*.acn
*.acr
*.bbl
*.blg
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.xdv

*.bkp

*.DS_Store
